<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>toposat-app</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production--> 
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- CDN de dependecias externas -->
       <!--boostrap-->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
       <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
   <!-- Add Firebase Firestore -->
   <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
       <!-- Add Firebase products that you want to use -->
       <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
      <!-- google traductor-->
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

     <!-- Oculta el scrollbar -->
     <style>
       ::-webkit-scrollbar { display: none; }
      </style>
      </body>
</html>
